.contact {
  background: #f3f3f3;
  min-height: 100vh;
}

.contact-banner {
  background: url("https://images.unsplash.com/photo-1446776811953-b23d57bd21aa");
  background-size: cover;
  background-position: center;
  height: 300px;

  color: white;
  text-align: center;
  padding-top: 100px;
}

.contact-banner h1 {
  color: orange;
  font-size: 32px;
}

.contact-banner p {
  margin-top: 10px;
  font-size: 14px;
}

.contact-boxes {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.box {
  background: white;
  width: 25%;
  padding: 25px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 5px gray;
}

.box h3 {
  color: orangered;
  margin-bottom: 10px;
}
